.header {
    background: rgb(35, 84, 169);
    display: flex;
    
}

.header a {
    text-decoration: none;
    color: white;
}

.header span {
    padding: 5px;
    display: inline-block;
    
}

.header .active {
    background: rgb(12, 48, 109);
    border-bottom: 3px solid white;
}
